.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_items {
  list-style-type: none;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--black);
  display: flex;
  gap: 64px;
}
