.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.nav {
  display: flex;
}

.nav_items {
  list-style-type: none;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--black);
  display: flex;
  gap: 64px;
  transition: color 0.3s ease;
}

.nav_items li:hover {
  color: var(--orange);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .header {
    max-width: 690px;
  }

  .nav_items {
    display: none;
  }
}

@media (max-width: 320px) {
  .header {
    width: 288px;
  }
}
