.partners_wrapper {
  background-color: var(--gray03);
  height: 280px;
  display: flex;
  padding: 5px;
}
.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1220px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.partners_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
}

.logos {
  display: flex;
  align-items: center;
  width: 580px;

  justify-content: space-between;
}

.clickwave {
  width: 177px;
  height: 54px;
}

.zy {
  width: 102px;
  height: 70px;
}

.nova {
  width: 191px;
  height: 60px;
}

@media (max-width: 768px) {
  .partners {
    max-width: 690px;
  }

  .partners_title {
    font-size: 16px;
    width: 140px;
  }

  .clickwave {
    width: 121px;
    height: 37px;
  }

  .logos {
    width: 430px;
  }

  .zy {
    width: 69px;
    height: 48px;
  }

  .nova {
    width: 131px;
    height: 41px;
  }
}

@media (max-width: 590px) {
  .partners {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .partners {
    max-width: 288px;
    flex-direction: column;
  }

  .partners_title {
    font-size: 20px;
    width: 175px;
    align-self: baseline;
  }

  .logos {
    width: 288px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .zy {
    order: 3;
    width: 84px;
    height: 58px;
  }

  .clickwave {
    width: 138px;
    height: 42px;
  }

  .nova {
    width: 149px;
    height: 47px;
  }
}
