.partners_wrapper {
  background-color: var(--gray03);
  height: 280px;
  display: flex;
}
.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1220px;
  margin: 0 auto;
}
.partners_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
}

.logos {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .partners {
    max-width: 690px;
  }
}
