.logo {
  border-radius: 10px;
  width: 161px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_text {
  font-family: var(--font-primary);

  font-weight: 900;
  font-size: 21px;
  line-height: 171%;
  letter-spacing: 0.04em;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .logo {
    width: 115px;
  }

  .logo_text {
    font-size: 15px;
  }
}
