.balance {
  background-color: var(--gray04);
  max-width: 1160px;
}

.balance_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--black);
}

.balance_text_block {
  display: flex;
}
.text_column {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.text_column_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
}

.text_column_text {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: var(--black);
}
