.balance_wrapper {
  background-color: var(--gray04);
  height: 600px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.balance {
  max-width: 1220px;
  margin: 0 auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.balance_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--black);
}

.balance_text_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text_column {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 20px;
}
.text_column_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
}

.text_column_text {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: var(--black);
}

.orange_block {
  border-radius: 18px;
  width: 120px;
  height: 120px;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_wrapper {
  display: flex;
  align-items: center;
}

.upLine,
.bottomLine {
  display: none;
}

.leftLine {
  width: 40%;
  height: 12px;
}

.rightLine {
  width: 40%;
  height: 12px;
}

.orange_block_inner {
  width: 80px;
  height: 75px;
}

@media (max-width: 768px) {
  .balance_wrapper {
    height: 420px;
  }

  .balance {
    height: 320px;
    max-width: 690px;
  }

  .balance_title {
    font-size: 28px;
  }

  .text_column {
    gap: 15px;
  }

  .text_column_title {
    font-size: 16px;
  }

  .text_column_text {
    font-size: 12px;
    line-height: 133%;
  }

  .orange_block {
    border-radius: 12px;
    width: 80px;
    height: 80px;
  }

  .orange_block_inner {
    width: 54px;
    height: 50px;
  }
}

@media (max-width: 460px) {
  .leftLine,
  .rightLine {
    display: none;
  }

  .text_column {
    width: 30%;
  }
}

@media (max-width: 320px) {
  .balance_wrapper {
    height: 780px;
  }

  .balance {
    height: 770px;
    max-width: 288px;
  }

  .image_wrapper {
    flex-direction: column;
  }

  .leftLine,
  .rightLine {
    display: none;
  }

  .upLine,
  .bottomLine {
    display: block;
  }
  .balance_title {
    font-size: 24px;
    text-align: left;
  }

  .balance_text_block {
    flex-direction: column;
  }

  .text_column {
    width: 100%;
    gap: 15px;
  }

  .text_column_title {
    font-size: 20px;
  }

  .text_column_text {
    font-size: 14px;
  }
}
