.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1220px;
  margin: 0 auto;
  gap: 65px;
  height: 440px;
  margin-bottom: 200px;
}

.hero_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.hero_text {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
  width: 626px;
}

@media (max-width: 768px) {
  .hero {
    max-width: 690px;
  }
  .hero_title {
    font-size: 52px;
    line-height: 110%;
  }

  .hero_text {
    font-size: 14px;
    line-height: 143%;
    width: 385px;
  }
}
