.button {
  border-radius: 10px;
  border: none;
  padding: 12px 40px;
  height: 48px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;

  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.04em;
  color: var(--white);
}

.orange {
  background-color: var(--orange);
  color: var(--white);
}

.orange:hover {
  background-color: var(--white);
  color: var(--orange);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.secondary {
  background-color: var(--black);
  color: var(--white);
}

.secondary:hover {
  background-color: var(--white);
  color: var(--black);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:active {
  transform: translateY(0);
  box-shadow: none;
}
