.page {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-image: url("../../public/assets/images/bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e7eded;
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 5px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}
