.tabsblock {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
}

.tabsblock_text {
  width: 460px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--black);
}
