.tabsblock {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  justify-content: space-between;
}

.tabsblock_text {
  width: 460px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--black);
}

@media (max-width: 768px) {
  .tabsblock {
    max-width: 690px;
  }

  .tabsblock_text {
    font-size: 28px;
    width: 290px;
  }
}
