.reports_wrapper {
  background: var(--gray04);
  height: 650px;
  display: flex;
  align-items: center;
}
.reports {
  display: flex;

  margin: 0 auto;
}

.reports_text_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
}

.reports_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--black);
}

.list {
  list-style-image: url("../../assets/icons/arrow.svg");
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  color: var(--black);
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
