.reports_wrapper {
  background: var(--gray04);
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reports {
  display: flex;
  align-items: center;
}

.reports_text_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 560px;
  height: 440px;
}

.reports_title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--black);
}

.list {
  list-style-type: none;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list_item {
  display: flex;
  gap: 10px;
}

.laptop {
  width: 720px;
  height: 480px;
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .reports_wrapper {
    height: 500px;
  }
  .reports {
    width: 690px;
  }

  .reports_title {
    font-size: 28px;
  }

  .reports_text_block {
    width: 335px;
  }

  .list {
    font-size: 14px;
    line-height: 143%;
  }

  .laptop {
    width: 399px;
    height: 266px;
  }

  .arrowIcon {
    width: 18px;
    height: 18px;
  }
}
